<section class="h-100 py-3" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <h4>You have <span style="color: red;">{{cartProduct.length}}</span> item in your cart</h4>
          </div>
  
          <div class="card rounded-3 mb-4" *ngFor="let item of cartProduct  let index = index">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{item.item.image}}"
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{item.item.title}}</p>
                  <p><span class="text-muted">price: </span>{{item.item.price}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  
                  <button class="btn btn-link px-2"
                    (click)="plusAmount(index)"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="btn btn-primary">Up+</i>
                  </button>

                   <input style="width: 50px;" (change)="detectChange()" id="form1" min="0" name="quantity" [(ngModel)]="item.quantity"  type="number"
                    class="form-control form-control-sm" />
                   
                    <button class="btn btn-link px-2"
                     onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                     (click)="minsAmount(index)">
                     <i class="btn btn-danger">Down-</i>
                    </button>
                  
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">Total: {{item.item.price * item.quantity}}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a (click)="deleteCart(index)" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-body">
              <p>Total:<span style="font-weight: bold;"> {{total}}</span></p>
              <button (click)="addCart()"  class="btn btn-warning btn-block btn-lg">Proceed To Pay</button> 

              <button (click)="clearCart()" class="btn btn-danger btn-block btn-lg">Clear Shopping Card</button>
            </div>
          </div>
          <div class="alert alert-success" *ngIf="success"><strong>Well Done !</strong> your order is successfully Send</div>
        </div>
      </div>
    </div>
  </section>